In [228]:
import numpy as np
import pandas as pd

# import companies using encoding = "ISO-8859-1"
companies = pd.read_csv("C:/Users/ranji/Desktop/ics/companies.txt", sep="\t", encoding = "ISO-8859-1")

In [229]:
#inspecting companies dataframe
print(companies.describe())
print(companies.isnull().sum())

#finding % of nulls in companies
print(100*round(companies.isnull().sum()/len(companies.index),2))

                   permalink   name                homepage_url category_list  \
count                  66368  66367                       61310         63220
unique                 66368  66102                       61191         27296
top     /Organization/Sofive  Blink  http://www.askforoffer.com      Software
freq                       1      4                           5          3995

           status country_code state_code       region           city  \
count       66368        59410      57821        58338          58340
unique          4          137        311         1092           5111
top     operating          USA         CA  SF Bay Area  San Francisco
freq        53034        37601      12900         8804           3526

        founded_at
count        51147
unique        3978
top     01-01-2012
freq          2730
permalink            0
name                 1
homepage_url      5058
category_list     3148
status               0
country_code      6958
state_code        8547
region            8030
city              8028
founded_at       15221
dtype: int64
permalink         0.0
name              0.0
homepage_url      8.0
category_list     5.0
status            0.0
country_code     10.0
state_code       13.0
region           12.0
city             12.0
founded_at       23.0
dtype: float64

In [230]:
#dropping columns which will not influence analysis
companies.drop(["homepage_url","state_code","region","city","founded_at"],axis=1,inplace=True)

#inspecting companies dataframeafter cleaning
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 5 columns):
permalink        66368 non-null object
name             66367 non-null object
category_list    63220 non-null object
status           66368 non-null object
country_code     59410 non-null object
dtypes: object(5)
memory usage: 2.5+ MB

In [231]:
# import rounds2 using encoding = "ISO-8859-1"
rounds2 = pd.read_csv("C:/Users/ranji/Desktop/ics/rounds2.csv", sep=",", encoding = "ISO-8859-1")

In [232]:
#inspecting rounds2 dataframe
print(rounds2.describe())
print(rounds2.isnull().sum())

#null % in columns of rounds2
print(100*round(rounds2.isnull().sum()/len(rounds2.index),2))

       raised_amount_usd
count       9.495900e+04
mean        1.042687e+07
std         1.148212e+08
min         0.000000e+00
25%         3.225000e+05
50%         1.680511e+06
75%         7.000000e+06
max         2.127194e+10
company_permalink              0
funding_round_permalink        0
funding_round_type             0
funding_round_code         83809
funded_at                      0
raised_amount_usd          19990
dtype: int64
company_permalink           0.0
funding_round_permalink     0.0
funding_round_type          0.0
funding_round_code         73.0
funded_at                   0.0
raised_amount_usd          17.0
dtype: float64

In [233]:
#handling special characters in companies_permalink and permalink column of rounds2 and companies
rounds2['company_permalink']=rounds2['company_permalink'].str.encode('ISO-8859-1').str.decode('ascii','ignore')
companies['permalink']=companies['permalink'].str.encode('ISO-8859-1').str.decode('ascii','ignore')

#converting permalink column of two dataframes to lowercase
rounds2['company_permalink']=rounds2['company_permalink'].str.lower()
companies['permalink']=companies['permalink'].str.lower()

#finding no of unique values in  rounds2 and companies in two different ways
print(rounds2.groupby(['company_permalink']).size().shape[0])
print(companies['permalink'].nunique())

66368
66368

In [234]:
#comparing for unique values in each column and no of entries to decide on id column:- permalink seems to be the ideal 
# key for companies dataframe
print(companies.describe())

                            permalink   name category_list     status  \
count                           66368  66367         63220      66368
unique                          66368  66102         27296          4
top     /organization/flip-flop-shops  Blink      Software  operating
freq                                1      4          3995      53034

       country_code
count         59410
unique          137
top             USA
freq          37601

In [235]:
#creating master_frame after merging rounds2 with companies using left join on company_permalink to permalink to 
#ensure no value gets neglected in rounds2.indicator creates a new column _merge which indicates whether a value in 
#left dataframe is present in right dataframe (both) or not(left_only)

master_frame=rounds2.merge(companies,left_on='company_permalink',right_on='permalink',how='left',indicator=True)

In [236]:
#if entry in _merge column as left_only is 0 then all columns in rounds2 are present in companies 
print(master_frame.loc[master_frame._merge =='left_only'].shape[0])

0

In [237]:
#remove extra column permalink created in master_frame due to merge
master_frame.set_index('company_permalink')
master_frame.drop(['permalink','_merge'],axis=1,inplace=True)
print(master_frame.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114949 entries, 0 to 114948
Data columns (total 10 columns):
company_permalink          114949 non-null object
funding_round_permalink    114949 non-null object
funding_round_type         114949 non-null object
funding_round_code         31140 non-null object
funded_at                  114949 non-null object
raised_amount_usd          94959 non-null float64
name                       114948 non-null object
category_list              111539 non-null object
status                     114949 non-null object
country_code               106271 non-null object
dtypes: float64(1), object(9)
memory usage: 9.6+ MB
None

In [238]:
#dropping null values in raised_amount_usd column as this is the basis for analysis and cannot be null
master_frame = master_frame[~np.isnan(master_frame['raised_amount_usd'])]

In [239]:
#export merged master_frame for tableau analysis
master_frame.to_csv('C:/Users/ranji/Desktop/ics/master.txt', sep="\t")

In [240]:
#identifying most ideal funding type with average between 5 million to 15 million usd
#creating master_group to store groupby object of master_frame
master_group=master_frame.groupby('funding_round_type').raised_amount_usd.mean().sort_values()
master_group[master_group<=15000000].sort_values(ascending=False).index[0]

'venture'

In [241]:
#filtering for funding type as venture
master_frame = master_frame.loc[master_frame.funding_round_type=='venture',:]

In [242]:
#inspecting filtered master_frame
master_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50228 entries, 0 to 114941
Data columns (total 10 columns):
company_permalink          50228 non-null object
funding_round_permalink    50228 non-null object
funding_round_type         50228 non-null object
funding_round_code         28043 non-null object
funded_at                  50228 non-null object
raised_amount_usd          50228 non-null float64
name                       50228 non-null object
category_list              49726 non-null object
status                     50228 non-null object
country_code               48111 non-null object
dtypes: float64(1), object(9)
memory usage: 4.2+ MB

In [243]:
print(100*round(master_frame.isnull().sum()/len(master_frame.index),2))

#neglect rows with null values in country_code. This has to be done because no satisfactory imputation can be done
master_frame = master_frame[~pd.isnull(master_frame['country_code'])]

#finding raised amount of country as % of total raised amount
master_frame.groupby('country_code').raised_amount_usd.sum().sort_values(ascending=False)/master_frame['raised_amount_usd'].sum()*100

company_permalink           0.0
funding_round_permalink     0.0
funding_round_type          0.0
funding_round_code         44.0
funded_at                   0.0
raised_amount_usd           0.0
name                        0.0
category_list               1.0
status                      0.0
country_code                4.0
dtype: float64

country_code
USA    74.830995
CHN     7.055260
GBR     3.585708
IND     2.548945
CAN     1.697306
FRA     1.285738
ISR     1.223392
DEU     1.124112
JPN     0.595742
SWE     0.576485
NLD     0.520598
CHE     0.500790
SGP     0.494831
ESP     0.325145
BRA     0.316317
IRL     0.296860
RUS     0.278139
AUS     0.234305
DNK     0.217546
BEL     0.189604
FIN     0.184761
NOR     0.169351
KOR     0.166482
MYS     0.156399
HKG     0.138370
AUT     0.111749
TWN     0.110513
TUR     0.099022
ITA     0.086481
NZL     0.079401
         ...
KWT     0.002480
LIE     0.002319
MNE     0.002161
SVN     0.002128
BGR     0.002001
KAZ     0.001948
GRC     0.001903
BAH     0.001576
TTO     0.001505
SVK     0.001460
BGD     0.001240
LBN     0.001143
GGY     0.000701
TUN     0.000694
SEN     0.000507
HRV     0.000466
UGA     0.000443
PER     0.000437
BWA     0.000398
PAN     0.000372
LAO     0.000372
MAR     0.000283
MUS     0.000266
PRI     0.000255
ECU     0.000171
MCO     0.000116
SAU     0.000089
CMR     0.000064
GTM     0.000053
MMR     0.000035
Name: raised_amount_usd, Length: 97, dtype: float64

In [244]:
#create groupby object countryWise_TotInvest which outputs list of top 9 countries in terms of total funding amount 
#raised to a list object top9List. This is used for creating top9 dataframe.

countryWise_TotInvest=master_frame.groupby("country_code").raised_amount_usd.sum().sort_values(ascending=False).head(9)
top9List=countryWise_TotInvest.index.get_level_values('country_code').tolist()
top9=master_frame[master_frame["country_code"].isin(top9List)]

print(top9)

                                        company_permalink  \
0                                     /organization/-fame
4                                   /organization/0-6-com
8                     /organization/0ndine-biomedical-inc
10                                   /organization/0xdata
11                                   /organization/0xdata
12                                   /organization/0xdata
22                             /organization/1-mainstream
28                          /organization/10-minutes-with
34                             /organization/1000memories
38                          /organization/1000museums-com
39                          /organization/1000museums-com
41                          /organization/1000museums-com
44                          /organization/1000museums-com
46                               /organization/1001-menus
47                               /organization/1001-menus
49                               /organization/1001-menus
50                       /organization/1001pharmacies-com
52                                  /organization/1006-tv
55                                 /organization/100du-tv
56                                 /organization/100e-com
57                                 /organization/100e-com
59                                /organization/100health
61                                  /organization/100plus
62                                 /organization/1010data
73                             /organization/10x-genomics
74                         /organization/10x-technologies
80                                    /organization/117go
81                            /organization/11i-solutions
99                              /organization/123feng-com
103                          /organization/128-technology
...                                                   ...
114879                       /organization/zyme-solutions
114880                       /organization/zyme-solutions
114881                       /organization/zyme-solutions
114883                             /organization/zymergen
114886                              /organization/zymetis
114889                            /organization/zymeworks
114890                            /organization/zymeworks
114891                            /organization/zymeworks
114892                            /organization/zymeworks
114893                            /organization/zymeworks
114894                            /organization/zymeworks
114900                                /organization/zyncd
114904              /organization/zynerba-pharmaceuticals
114906                                /organization/zynga
114907                                /organization/zynga
114908                                /organization/zynga
114909                                /organization/zynga
114910                                /organization/zynga
114911                                /organization/zynga
114912                                /organization/zynga
114914                                /organization/zynga
114915                             /organization/zyngenia
114916                              /organization/zynstra
114917                              /organization/zynstra
114920                           /organization/zyomyx-inc
114922                           /organization/zyomyx-inc
114923                           /organization/zyomyx-inc
114934                                /organization/zyrra
114936                               /organization/zystor
114941  /organization/zznode-science-and-technology-co...

                                funding_round_permalink funding_round_type  \
0       /funding-round/9a01d05418af9f794eebff7ace91f638            venture
4       /funding-round/5727accaeaa57461bd22a9bdd945382d            venture
8       /funding-round/954b9499724b946ad8c396a57a5f3b72            venture
10      /funding-round/3bb2ee4a2d89251a10aaa735b1180e44            venture
11      /funding-round/ae2a174c06517c2394aed45006322a7e            venture
12      /funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e            venture
22      /funding-round/b952cbaf401f310927430c97b68162ea            venture
28      /funding-round/0faccbbcc5818dc5326469f13f5a8ac8            venture
34      /funding-round/502bd0e50c27616995e4bdad24605ef8            venture
38      /funding-round/13be128d655076a025221d7fddc90d68            venture
39      /funding-round/6aeb32ab3fc05db2b606d7a2466e8c09            venture
41      /funding-round/89317984885b44f02e4befb9dc2e588c            venture
44      /funding-round/fd1b3064232ba9b3cfb5653a619e82e8            venture
46      /funding-round/645b4cd895450b8e0268027cd7813047            venture
47      /funding-round/8025123b90c1ab687f9857ffe18bfd3b            venture
49      /funding-round/b6c28ea4ebe32db7083052cf87e7c368            venture
50      /funding-round/a21fc4d20200f43e3a25fd9cfc7c1482            venture
52      /funding-round/b6aeb7401ec6993f92a16cbca153b600            venture
55      /funding-round/8797d60368bb0227f0d0ab4c72aef886            venture
56      /funding-round/22a86670d1055d7bafce665b27e91871            venture
57      /funding-round/a136f7eb873dfb13cec839fef7d7f51e            venture
59      /funding-round/502f558bee350299fd1ae503e5b9a124            venture
61      /funding-round/b5facb0d9dea2f0352b5834892c88c53            venture
62      /funding-round/482fbf992b48f5c47d0080ab7ec0cb54            venture
73      /funding-round/563923487783bdeb5d0b7872f3d6b99a            venture
74      /funding-round/39c1441d5098875a925577d0f2ad3904            venture
80      /funding-round/bbbda407fa8638d944ecfdd042230c4b            venture
81      /funding-round/e07501ed6997290b1bef59406bc300a1            venture
99      /funding-round/9d83084d87dc63a309c9a6fe9bf59d1b            venture
103     /funding-round/fb6216a30cb566ede89e0bee0623a634            venture
...                                                 ...                ...
114879  /funding-round/750e756e0c6e44a04f31e460106e5823            venture
114880  /funding-round/882bfc4385f305c46bf0afdb72a9af26            venture
114881  /funding-round/95df0674abfe3b59a0f32ffcc1007853            venture
114883  /funding-round/0f14ff055053208bd3d8eae98c9b3a28            venture
114886  /funding-round/6d3ae270761d1bb03a53e1cbf68a8317            venture
114889  /funding-round/917b2ed7b99f219fcbc660c9789482d5            venture
114890  /funding-round/d51cfec3a0b6d8323d892e4fd4bb187e            venture
114891  /funding-round/d7b019f508ef724ca3a851a4359a272f            venture
114892  /funding-round/e4dee9b0a5fa30e650e5dea33e1faad8            venture
114893  /funding-round/fd4f9cd4c2ad9c8980848491cd467f35            venture
114894  /funding-round/fff65853a50d907bdf362b572076f1d1            venture
114900  /funding-round/3549f5a481f83610044a4226926acf5a            venture
114904  /funding-round/8992160f6abc8e21563e54a6e97a8922            venture
114906  /funding-round/1bc4f7b3a778e5abfbd7131f595f5011            venture
114907  /funding-round/5bebd7acdfd44138f81d162f21c532f9            venture
114908  /funding-round/66d64809546fe2031d3479161e3c88f9            venture
114909  /funding-round/72e4fdf2cfb0cdc0750f90e486722068            venture
114910  /funding-round/8411431b5a0389a874e3fae93016c089            venture
114911  /funding-round/a6ebc53cf3c0c97d1cdd075f6bbf31fa            venture
114912  /funding-round/cf8299f657f7fd4cf01054ee1934109c            venture
114914  /funding-round/eb198261da812bc8d3bf475ccec44000            venture
114915  /funding-round/55ec03b6fa2e812a2b4a9da5a4555752            venture
114916  /funding-round/05f43b37c270f5919578281ce803de8f            venture
114917  /funding-round/129127802dd48be42d6cd45f65895245            venture
114920  /funding-round/4191cb5258d3863b0212d1083881da64            venture
114922  /funding-round/b4fce7f8a13267353d57db09099800e8            venture
114923  /funding-round/ea5b21da6cf999ff4d5667431fe318d7            venture
114934  /funding-round/7a0fa791c96c9c447ee54662395beab9            venture
114936  /funding-round/7ea37c0ff4132b084832039a9380d34e            venture
114941  /funding-round/171693e1e07e0230defd8fddb6de4515            venture

       funding_round_code   funded_at  raised_amount_usd  \
0                       B  05-01-2015         10000000.0
4                       A  19-03-2008          2000000.0
8                     NaN  21-12-2009           719491.0
10                      B  09-11-2015         20000000.0
11                    NaN  03-01-2013          1700000.0
12                      A  19-07-2014          8900000.0
22                    NaN  17-03-2015          5000000.0
28                      A  09-10-2014          4000000.0
34                      A  16-02-2011          2520000.0
38                    NaN  14-10-2009           265940.0
39                    NaN  15-01-2014          2906832.0
41                    NaN  01-08-2014          1500000.0
44                    NaN  05-04-2011           642000.0
46                      B  04-11-2015          6602694.0
47                      A  13-11-2013          1736910.0
49                      A  25-10-2013          1800000.0
50                      A  09-07-2015          8900000.0
52                      B  31-07-2014         10000000.0
55                      A  07-01-2008          3000000.0
56                    NaN  01-01-2006          3000000.0
57                    NaN  01-09-2006          1500000.0
59                      A  20-10-2015          3530000.0
61                    NaN  02-11-2011           500000.0
62                    NaN  08-03-2010         35000000.0
73                      B  12-01-2015         55000000.0
74                      B  12-01-2015           550000.0
80                      B  28-04-2014         20000000.0
81                    NaN  22-03-2011          1800000.0
99                      A  27-10-2015         13000000.0
103                   NaN  16-12-2014         11999347.0
...                   ...         ...                ...
114879                NaN  05-03-2009           999999.0
114880                  B  01-05-2014          3000000.0
114881                  A  12-09-2005          3040000.0
114883                  A  16-06-2015         44000000.0
114886                NaN  11-01-2010           757464.0
114889                  D  22-09-2011          8100000.0
114890                NaN  27-02-2015          1785700.0
114891                NaN  06-09-2012         11000000.0
114892                NaN  09-01-2014         15000000.0
114893                NaN  13-01-2015         23988700.0
114894                  C  26-06-2009          3500000.0
114900                NaN  01-09-2014           144451.0
114904                NaN  14-10-2014         13000000.0
114906                  B  04-11-2009         15187000.0
114907                NaN  12-10-2010          6337786.0
114908                  A  01-01-2008         10000000.0
114909                  B  18-07-2008         25000000.0
114910                  B  24-04-2010         15000000.0
114911                  C  18-02-2011        490000000.0
114912                  B  14-06-2010        300000000.0
114914                  A  12-02-2008          5026000.0
114915                  A  09-09-2010         25000000.0
114916                  B  09-07-2014          8400000.0
114917                  A  12-09-2013          3800000.0
114920                  B  30-06-2013         12000000.0
114922                NaN  11-07-2013         14219999.0
114923                NaN  29-01-2010           555016.0
114934                NaN  18-10-2012           140500.0
114936                  A  16-12-2004          8500000.0
114941                  A  01-04-2012          1587301.0

                                 name  \
0                               #fame
4                             0-6.com
8              Ondine Biomedical Inc.
10                             H2O.ai
11                             H2O.ai
12                             H2O.ai
22                       1 Mainstream
28                    10 Minutes With
34                       1000memories
38                    1000museums.com
39                    1000museums.com
41                    1000museums.com
44                    1000museums.com
46                            ZenChef
47                            ZenChef
49                            ZenChef
50                 1001pharmacies.com
52                            1006.tv
55                           100du.tv
56                           100e.com
57                           100e.com
59                              Redox
61                            100Plus
62                           1010data
73                       10X Genomics
74                   10X Technologies
80                              117go
81                      11i Solutions
99                        123Feng.Com
103                    128 Technology
...                               ...
114879                 Zyme Solutions
114880                 Zyme Solutions
114881                 Zyme Solutions
114883                       Zymergen
114886                        Zymetis
114889                      Zymeworks
114890                      Zymeworks
114891                      Zymeworks
114892                      Zymeworks
114893                      Zymeworks
114894                      Zymeworks
114900                          Zyncd
114904        Zynerba Pharmaceuticals
114906                          Zynga
114907                          Zynga
114908                          Zynga
114909                          Zynga
114910                          Zynga
114911                          Zynga
114912                          Zynga
114914                          Zynga
114915                       Zyngenia
114916                        Zynstra
114917                        Zynstra
114920                         ZYOMYX
114922                         ZYOMYX
114923                         ZYOMYX
114934                          Zyrra
114936                         Zystor
114941  ZZNode Science and Technology

                                            category_list     status  \
0                                                   Media  operating
4                                             Curated Web  operating
8                                           Biotechnology  operating
10                                              Analytics  operating
11                                              Analytics  operating
12                                              Analytics  operating
22                       Apps|Cable|Distribution|Software   acquired
28                                              Education  operating
34                                            Curated Web   acquired
38                                            Curated Web  operating
39                                            Curated Web  operating
41                                            Curated Web  operating
44                                            Curated Web  operating
46                           Local Businesses|Restaurants  operating
47                           Local Businesses|Restaurants  operating
49                           Local Businesses|Restaurants  operating
50                                 Cosmetics|Marketplaces  operating
52                                            Games|Media  operating
55                                            Hospitality  operating
56                                              Education  operating
57                                              Education  operating
59      Health Care|Health Care Information Technology...  operating
61                                              Analytics   acquired
62                                               Software   acquired
73                               Biotechnology|Technology  operating
74                                          Biotechnology  operating
80                                          Social Travel  operating
81                                    Enterprise Software     closed
99                                                    NaN  operating
103                          Service Providers|Technology  operating
...                                                   ...        ...
114879                       Hardware|Hardware + Software  operating
114880                       Hardware|Hardware + Software  operating
114881                       Hardware|Hardware + Software  operating
114883                                      Biotechnology  operating
114886                                      Biotechnology     closed
114889                                      Biotechnology  operating
114890                                      Biotechnology  operating
114891                                      Biotechnology  operating
114892                                      Biotechnology  operating
114893                                      Biotechnology  operating
114894                                      Biotechnology  operating
114900                 Crowdsourcing|Knowledge Management  operating
114904                                    Pharmaceuticals        ipo
114906  Facebook Applications|Games|Networking|Technology        ipo
114907  Facebook Applications|Games|Networking|Technology        ipo
114908  Facebook Applications|Games|Networking|Technology        ipo
114909  Facebook Applications|Games|Networking|Technology        ipo
114910  Facebook Applications|Games|Networking|Technology        ipo
114911  Facebook Applications|Games|Networking|Technology        ipo
114912  Facebook Applications|Games|Networking|Technology        ipo
114914  Facebook Applications|Games|Networking|Technology        ipo
114915                                      Biotechnology  operating
114916                                           Software  operating
114917                                           Software  operating
114920                                      Biotechnology  operating
114922                                      Biotechnology  operating
114923                                      Biotechnology  operating
114934                                         E-Commerce  operating
114936                                      Biotechnology   acquired
114941                                Enterprise Software  operating

       country_code
0               IND
4               CHN
8               CAN
10              USA
11              USA
12              USA
22              USA
28              GBR
34              USA
38              USA
39              USA
41              USA
44              USA
46              FRA
47              FRA
49              FRA
50              FRA
52              CHN
55              CHN
56              CHN
57              CHN
59              USA
61              USA
62              USA
73              USA
74              USA
80              CHN
81              USA
99              CHN
103             USA
...             ...
114879          USA
114880          USA
114881          USA
114883          USA
114886          USA
114889          CAN
114890          CAN
114891          CAN
114892          CAN
114893          CAN
114894          CAN
114900          GBR
114904          USA
114906          USA
114907          USA
114908          USA
114909          USA
114910          USA
114911          USA
114912          USA
114914          USA
114915          USA
114916          GBR
114917          GBR
114920          USA
114922          USA
114923          USA
114934          USA
114936          USA
114941          CHN

[44383 rows x 10 columns]

In [245]:
#engCountries is list of country codes of english speaking countries from
#Countries_where_English_is_an_official_language.pdf.Select top 3 english speaking countries from top9 dataframe
engCountries=['BWA', 'CMR', 'ETH', 'ERI', 'GMB', 'GHA', 'KEN', 'LSO', 'LBR', 'MWI', 'MUS', 'NAM', 'NGA', 'RWA', 'SYC', 'SLE', 'ZAF', 'SSD', 'SDN', 'SWZ', 'TAN', 'UGA', 'ZMB', 'ZWE', 'ATG', 'BAH', 'BRB', 'BLZ', 'CAN', 'DMA', 'GRD', 'GUY', 'JAM', 'KNA', 'LCA', 'VCT', 'TTO', 'USA', 'AUS', 'FJI', 'KIR', 'MHL', 'FSM', 'NRU', 'NZL', 'PLW', 'PNG', 'WSM', 'SLB', 'TON', 'TUV', 'VUT', 'IND', 'PAK', 'PHL', 'SGP', 'IRL', 'MLT', 'GBR']
print(top9[top9['country_code'].isin(engCountries)].groupby('country_code').raised_amount_usd.sum().sort_values(ascending=False).head(3))

country_code
USA    4.225108e+11
GBR    2.024563e+10
IND    1.439186e+10
Name: raised_amount_usd, dtype: float64

In [246]:
#Assign random value BlankVals to category_list where null values are present.This does not affect the analysis
master_frame.loc[pd.isnull(master_frame['category_list']),'category_list']='BlankVals'

#Split the category_list values on |and assign first category to new column primary_cat
master_frame['primary_cat']=master_frame['category_list'].apply(lambda x:x.split('|')[0])

print(master_frame)

                                        company_permalink  \
0                                     /organization/-fame
4                                   /organization/0-6-com
8                     /organization/0ndine-biomedical-inc
10                                   /organization/0xdata
11                                   /organization/0xdata
12                                   /organization/0xdata
22                             /organization/1-mainstream
28                          /organization/10-minutes-with
34                             /organization/1000memories
38                          /organization/1000museums-com
39                          /organization/1000museums-com
41                          /organization/1000museums-com
44                          /organization/1000museums-com
46                               /organization/1001-menus
47                               /organization/1001-menus
49                               /organization/1001-menus
50                       /organization/1001pharmacies-com
52                                  /organization/1006-tv
55                                 /organization/100du-tv
56                                 /organization/100e-com
57                                 /organization/100e-com
59                                /organization/100health
61                                  /organization/100plus
62                                 /organization/1010data
73                             /organization/10x-genomics
74                         /organization/10x-technologies
80                                    /organization/117go
81                            /organization/11i-solutions
97                           /organization/123contactform
99                              /organization/123feng-com
...                                                   ...
114886                              /organization/zymetis
114889                            /organization/zymeworks
114890                            /organization/zymeworks
114891                            /organization/zymeworks
114892                            /organization/zymeworks
114893                            /organization/zymeworks
114894                            /organization/zymeworks
114900                                /organization/zyncd
114902                               /organization/zyncro
114903                               /organization/zyncro
114904              /organization/zynerba-pharmaceuticals
114906                                /organization/zynga
114907                                /organization/zynga
114908                                /organization/zynga
114909                                /organization/zynga
114910                                /organization/zynga
114911                                /organization/zynga
114912                                /organization/zynga
114914                                /organization/zynga
114915                             /organization/zyngenia
114916                              /organization/zynstra
114917                              /organization/zynstra
114920                           /organization/zyomyx-inc
114922                           /organization/zyomyx-inc
114923                           /organization/zyomyx-inc
114931                     /organization/zyraz-technology
114934                                /organization/zyrra
114936                               /organization/zystor
114937                           /organization/zytoprotec
114941  /organization/zznode-science-and-technology-co...

                                funding_round_permalink funding_round_type  \
0       /funding-round/9a01d05418af9f794eebff7ace91f638            venture
4       /funding-round/5727accaeaa57461bd22a9bdd945382d            venture
8       /funding-round/954b9499724b946ad8c396a57a5f3b72            venture
10      /funding-round/3bb2ee4a2d89251a10aaa735b1180e44            venture
11      /funding-round/ae2a174c06517c2394aed45006322a7e            venture
12      /funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e            venture
22      /funding-round/b952cbaf401f310927430c97b68162ea            venture
28      /funding-round/0faccbbcc5818dc5326469f13f5a8ac8            venture
34      /funding-round/502bd0e50c27616995e4bdad24605ef8            venture
38      /funding-round/13be128d655076a025221d7fddc90d68            venture
39      /funding-round/6aeb32ab3fc05db2b606d7a2466e8c09            venture
41      /funding-round/89317984885b44f02e4befb9dc2e588c            venture
44      /funding-round/fd1b3064232ba9b3cfb5653a619e82e8            venture
46      /funding-round/645b4cd895450b8e0268027cd7813047            venture
47      /funding-round/8025123b90c1ab687f9857ffe18bfd3b            venture
49      /funding-round/b6c28ea4ebe32db7083052cf87e7c368            venture
50      /funding-round/a21fc4d20200f43e3a25fd9cfc7c1482            venture
52      /funding-round/b6aeb7401ec6993f92a16cbca153b600            venture
55      /funding-round/8797d60368bb0227f0d0ab4c72aef886            venture
56      /funding-round/22a86670d1055d7bafce665b27e91871            venture
57      /funding-round/a136f7eb873dfb13cec839fef7d7f51e            venture
59      /funding-round/502f558bee350299fd1ae503e5b9a124            venture
61      /funding-round/b5facb0d9dea2f0352b5834892c88c53            venture
62      /funding-round/482fbf992b48f5c47d0080ab7ec0cb54            venture
73      /funding-round/563923487783bdeb5d0b7872f3d6b99a            venture
74      /funding-round/39c1441d5098875a925577d0f2ad3904            venture
80      /funding-round/bbbda407fa8638d944ecfdd042230c4b            venture
81      /funding-round/e07501ed6997290b1bef59406bc300a1            venture
97      /funding-round/af7382f8e3d806986796029388cb1b7f            venture
99      /funding-round/9d83084d87dc63a309c9a6fe9bf59d1b            venture
...                                                 ...                ...
114886  /funding-round/6d3ae270761d1bb03a53e1cbf68a8317            venture
114889  /funding-round/917b2ed7b99f219fcbc660c9789482d5            venture
114890  /funding-round/d51cfec3a0b6d8323d892e4fd4bb187e            venture
114891  /funding-round/d7b019f508ef724ca3a851a4359a272f            venture
114892  /funding-round/e4dee9b0a5fa30e650e5dea33e1faad8            venture
114893  /funding-round/fd4f9cd4c2ad9c8980848491cd467f35            venture
114894  /funding-round/fff65853a50d907bdf362b572076f1d1            venture
114900  /funding-round/3549f5a481f83610044a4226926acf5a            venture
114902  /funding-round/35310bcb0945d9d4b5ffa5482e5c87f3            venture
114903  /funding-round/c8dd9ae33cc5d5a1d972b470a5955373            venture
114904  /funding-round/8992160f6abc8e21563e54a6e97a8922            venture
114906  /funding-round/1bc4f7b3a778e5abfbd7131f595f5011            venture
114907  /funding-round/5bebd7acdfd44138f81d162f21c532f9            venture
114908  /funding-round/66d64809546fe2031d3479161e3c88f9            venture
114909  /funding-round/72e4fdf2cfb0cdc0750f90e486722068            venture
114910  /funding-round/8411431b5a0389a874e3fae93016c089            venture
114911  /funding-round/a6ebc53cf3c0c97d1cdd075f6bbf31fa            venture
114912  /funding-round/cf8299f657f7fd4cf01054ee1934109c            venture
114914  /funding-round/eb198261da812bc8d3bf475ccec44000            venture
114915  /funding-round/55ec03b6fa2e812a2b4a9da5a4555752            venture
114916  /funding-round/05f43b37c270f5919578281ce803de8f            venture
114917  /funding-round/129127802dd48be42d6cd45f65895245            venture
114920  /funding-round/4191cb5258d3863b0212d1083881da64            venture
114922  /funding-round/b4fce7f8a13267353d57db09099800e8            venture
114923  /funding-round/ea5b21da6cf999ff4d5667431fe318d7            venture
114931  /funding-round/e949f077c943db197f20e43c2eb8d0e6            venture
114934  /funding-round/7a0fa791c96c9c447ee54662395beab9            venture
114936  /funding-round/7ea37c0ff4132b084832039a9380d34e            venture
114937  /funding-round/0c43e717298296d2fb334fb236300f6e            venture
114941  /funding-round/171693e1e07e0230defd8fddb6de4515            venture

       funding_round_code   funded_at  raised_amount_usd  \
0                       B  05-01-2015         10000000.0
4                       A  19-03-2008          2000000.0
8                     NaN  21-12-2009           719491.0
10                      B  09-11-2015         20000000.0
11                    NaN  03-01-2013          1700000.0
12                      A  19-07-2014          8900000.0
22                    NaN  17-03-2015          5000000.0
28                      A  09-10-2014          4000000.0
34                      A  16-02-2011          2520000.0
38                    NaN  14-10-2009           265940.0
39                    NaN  15-01-2014          2906832.0
41                    NaN  01-08-2014          1500000.0
44                    NaN  05-04-2011           642000.0
46                      B  04-11-2015          6602694.0
47                      A  13-11-2013          1736910.0
49                      A  25-10-2013          1800000.0
50                      A  09-07-2015          8900000.0
52                      B  31-07-2014         10000000.0
55                      A  07-01-2008          3000000.0
56                    NaN  01-01-2006          3000000.0
57                    NaN  01-09-2006          1500000.0
59                      A  20-10-2015          3530000.0
61                    NaN  02-11-2011           500000.0
62                    NaN  08-03-2010         35000000.0
73                      B  12-01-2015         55000000.0
74                      B  12-01-2015           550000.0
80                      B  28-04-2014         20000000.0
81                    NaN  22-03-2011          1800000.0
97                    NaN  16-06-2015          1000000.0
99                      A  27-10-2015         13000000.0
...                   ...         ...                ...
114886                NaN  11-01-2010           757464.0
114889                  D  22-09-2011          8100000.0
114890                NaN  27-02-2015          1785700.0
114891                NaN  06-09-2012         11000000.0
114892                NaN  09-01-2014         15000000.0
114893                NaN  13-01-2015         23988700.0
114894                  C  26-06-2009          3500000.0
114900                NaN  01-09-2014           144451.0
114902                  B  03-02-2012          2105600.0
114903                  A  05-04-2011          1699920.0
114904                NaN  14-10-2014         13000000.0
114906                  B  04-11-2009         15187000.0
114907                NaN  12-10-2010          6337786.0
114908                  A  01-01-2008         10000000.0
114909                  B  18-07-2008         25000000.0
114910                  B  24-04-2010         15000000.0
114911                  C  18-02-2011        490000000.0
114912                  B  14-06-2010        300000000.0
114914                  A  12-02-2008          5026000.0
114915                  A  09-09-2010         25000000.0
114916                  B  09-07-2014          8400000.0
114917                  A  12-09-2013          3800000.0
114920                  B  30-06-2013         12000000.0
114922                NaN  11-07-2013         14219999.0
114923                NaN  29-01-2010           555016.0
114931                  A  09-10-2009          7991547.0
114934                NaN  18-10-2012           140500.0
114936                  A  16-12-2004          8500000.0
114937                  A  29-01-2013          2686600.0
114941                  A  01-04-2012          1587301.0

                                 name  \
0                               #fame
4                             0-6.com
8              Ondine Biomedical Inc.
10                             H2O.ai
11                             H2O.ai
12                             H2O.ai
22                       1 Mainstream
28                    10 Minutes With
34                       1000memories
38                    1000museums.com
39                    1000museums.com
41                    1000museums.com
44                    1000museums.com
46                            ZenChef
47                            ZenChef
49                            ZenChef
50                 1001pharmacies.com
52                            1006.tv
55                           100du.tv
56                           100e.com
57                           100e.com
59                              Redox
61                            100Plus
62                           1010data
73                       10X Genomics
74                   10X Technologies
80                              117go
81                      11i Solutions
97                     123ContactForm
99                        123Feng.Com
...                               ...
114886                        Zymetis
114889                      Zymeworks
114890                      Zymeworks
114891                      Zymeworks
114892                      Zymeworks
114893                      Zymeworks
114894                      Zymeworks
114900                          Zyncd
114902                         Zyncro
114903                         Zyncro
114904        Zynerba Pharmaceuticals
114906                          Zynga
114907                          Zynga
114908                          Zynga
114909                          Zynga
114910                          Zynga
114911                          Zynga
114912                          Zynga
114914                          Zynga
114915                       Zyngenia
114916                        Zynstra
114917                        Zynstra
114920                         ZYOMYX
114922                         ZYOMYX
114923                         ZYOMYX
114931               Zyraz Technology
114934                          Zyrra
114936                         Zystor
114937                     Zytoprotec
114941  ZZNode Science and Technology

                                            category_list     status  \
0                                                   Media  operating
4                                             Curated Web  operating
8                                           Biotechnology  operating
10                                              Analytics  operating
11                                              Analytics  operating
12                                              Analytics  operating
22                       Apps|Cable|Distribution|Software   acquired
28                                              Education  operating
34                                            Curated Web   acquired
38                                            Curated Web  operating
39                                            Curated Web  operating
41                                            Curated Web  operating
44                                            Curated Web  operating
46                           Local Businesses|Restaurants  operating
47                           Local Businesses|Restaurants  operating
49                           Local Businesses|Restaurants  operating
50                                 Cosmetics|Marketplaces  operating
52                                            Games|Media  operating
55                                            Hospitality  operating
56                                              Education  operating
57                                              Education  operating
59      Health Care|Health Care Information Technology...  operating
61                                              Analytics   acquired
62                                               Software   acquired
73                               Biotechnology|Technology  operating
74                                          Biotechnology  operating
80                                          Social Travel  operating
81                                    Enterprise Software     closed
97                                        E-Commerce|SaaS  operating
99                                              BlankVals  operating
...                                                   ...        ...
114886                                      Biotechnology     closed
114889                                      Biotechnology  operating
114890                                      Biotechnology  operating
114891                                      Biotechnology  operating
114892                                      Biotechnology  operating
114893                                      Biotechnology  operating
114894                                      Biotechnology  operating
114900                 Crowdsourcing|Knowledge Management  operating
114902  Cloud Computing|Enterprise 2.0|Enterprise Soft...   acquired
114903  Cloud Computing|Enterprise 2.0|Enterprise Soft...   acquired
114904                                    Pharmaceuticals        ipo
114906  Facebook Applications|Games|Networking|Technology        ipo
114907  Facebook Applications|Games|Networking|Technology        ipo
114908  Facebook Applications|Games|Networking|Technology        ipo
114909  Facebook Applications|Games|Networking|Technology        ipo
114910  Facebook Applications|Games|Networking|Technology        ipo
114911  Facebook Applications|Games|Networking|Technology        ipo
114912  Facebook Applications|Games|Networking|Technology        ipo
114914  Facebook Applications|Games|Networking|Technology        ipo
114915                                      Biotechnology  operating
114916                                           Software  operating
114917                                           Software  operating
114920                                      Biotechnology  operating
114922                                      Biotechnology  operating
114923                                      Biotechnology  operating
114931                                      Biotechnology     closed
114934                                         E-Commerce  operating
114936                                      Biotechnology   acquired
114937                                      Biotechnology  operating
114941                                Enterprise Software  operating

       country_code            primary_cat
0               IND                  Media
4               CHN            Curated Web
8               CAN          Biotechnology
10              USA              Analytics
11              USA              Analytics
12              USA              Analytics
22              USA                   Apps
28              GBR              Education
34              USA            Curated Web
38              USA            Curated Web
39              USA            Curated Web
41              USA            Curated Web
44              USA            Curated Web
46              FRA       Local Businesses
47              FRA       Local Businesses
49              FRA       Local Businesses
50              FRA              Cosmetics
52              CHN                  Games
55              CHN            Hospitality
56              CHN              Education
57              CHN              Education
59              USA            Health Care
61              USA              Analytics
62              USA               Software
73              USA          Biotechnology
74              USA          Biotechnology
80              CHN          Social Travel
81              USA    Enterprise Software
97              ROM             E-Commerce
99              CHN              BlankVals
...             ...                    ...
114886          USA          Biotechnology
114889          CAN          Biotechnology
114890          CAN          Biotechnology
114891          CAN          Biotechnology

In [247]:
#import mapping file to map main sector to sub-sectors
mapping = pd.read_csv("C:/Users/ranji/Desktop/ics/mapping.csv", sep=",", encoding = "ISO-8859-1")

#convert the wide format file to long format using melt function of dataframe and filter for values=1
mapping=pd.melt(mapping,id_vars="category_list")
mapping=mapping[mapping['value']==1]

#handling blanks and dirty data in mapping file by replacing 'na' for 0  and Changing Enterprise 2.na to Enterprise 2.0 
mapping['category_list'].fillna(value="BlankVal",inplace=True)
mapping.replace(to_replace='0',value='na',regex=True,inplace=True)
mapping.loc[mapping['category_list']=='Enterprise 2.na']='Enterprise 2.0'

#renaming columns of mapping file and dropping extra 'value' column which contains only 1
mapping.rename(columns={'category_list':'primary_cat','variable':'sector'},inplace=True)
mapping=mapping.drop('value',axis=1)

In [248]:
#merging master_frame and mapping on primary_catcolumn with left join
master_frame=master_frame.merge(mapping,on='primary_cat',how='left')
master_frame.info

#exporting updated master_frame for tableau input
master_frame.to_csv('C:/Users/ranji/Desktop/ics/mapped_master.txt', sep="\t")

In [249]:
#Create D_group which is a sorted series object which returns 3 highest funded english speaking countries 
D_group=master_frame[master_frame['country_code'].isin(engCountries)].groupby('country_code').raised_amount_usd.sum().sort_values(ascending=False).head(3)

#DList is a list object used to store D_group as a list for filtering master_frame
DList=D_group.index.get_level_values('country_code').tolist()

#D is a dataframe which filters master_frame for fund amount between 5 and 15 million and the countries in D_group 
D=master_frame[master_frame["country_code"].isin(DList)]
D=D.loc[(D['raised_amount_usd'] >= 5000000) & (D['raised_amount_usd'] <= 15000000)]

#D1,D2 and D3 are dataframes for 3 highest funded countries
D1=D.loc[(D['country_code']==D_group.index[0])]
D2=D.loc[(D['country_code']==D_group.index[1])]
D3=D.loc[(D['country_code']==D_group.index[2])]

#use transform function on D1, D2 and D3 to create new columns investment_count and investment_amount which gives
#sector wise total investment counts and sum of investment amounts for each of the 3 dataframes
D1['investment_count']=D1.groupby(['sector'])['raised_amount_usd'].transform('count')
D1['investment_amount']=D1.groupby(['sector'])['raised_amount_usd'].transform('sum')
D2['investment_count']=D2.groupby(['sector'])['raised_amount_usd'].transform('count')
D2['investment_amount']=D2.groupby(['sector'])['raised_amount_usd'].transform('sum')
D3['investment_count']=D3.groupby(['sector'])['raised_amount_usd'].transform('count')
D3['investment_amount']=D3.groupby(['sector'])['raised_amount_usd'].transform('sum')

print(D1.info())
print(D2.info())
print(D3.info())

SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy [ipykernel_launcher.py:14]
SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy [ipykernel_launcher.py:15]
SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy [ipykernel_launcher.py:16]
SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy [ipykernel_launcher.py:17]
SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy [ipykernel_launcher.py:18]
SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy [ipykernel_launcher.py:19]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12150 entries, 5 to 48108
Data columns (total 14 columns):
company_permalink          12150 non-null object
funding_round_permalink    12150 non-null object
funding_round_type         12150 non-null object
funding_round_code         8671 non-null object
funded_at                  12150 non-null object
raised_amount_usd          12150 non-null float64
name                       12150 non-null object
category_list              12150 non-null object
status                     12150 non-null object
country_code               12150 non-null object
primary_cat                12150 non-null object
sector                     12012 non-null object
investment_count           12012 non-null float64
investment_amount          12012 non-null float64
dtypes: float64(3), object(11)
memory usage: 1.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 628 entries, 153 to 48101
Data columns (total 14 columns):
company_permalink          628 non-null object
funding_round_permalink    628 non-null object
funding_round_type         628 non-null object
funding_round_code         390 non-null object
funded_at                  628 non-null object
raised_amount_usd          628 non-null float64
name                       628 non-null object
category_list              628 non-null object
status                     628 non-null object
country_code               628 non-null object
primary_cat                628 non-null object
sector                     619 non-null object
investment_count           619 non-null float64
investment_amount          619 non-null float64
dtypes: float64(3), object(11)
memory usage: 73.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 330 entries, 0 to 47979
Data columns (total 14 columns):
company_permalink          330 non-null object
funding_round_permalink    330 non-null object
funding_round_type         330 non-null object
funding_round_code         228 non-null object
funded_at                  330 non-null object
raised_amount_usd          330 non-null float64
name                       330 non-null object
category_list              330 non-null object
status                     330 non-null object
country_code               330 non-null object
primary_cat                330 non-null object
sector                     328 non-null object
investment_count           328 non-null float64
investment_amount          328 non-null float64
dtypes: float64(3), object(11)
memory usage: 38.7+ KB
None

In [250]:
#Analysis results for D1 which is USA
#total investment count
print(D1.raised_amount_usd.count())

#total investment sum
print(D1.raised_amount_usd.sum())
inv_count_group=D1.groupby('sector').raised_amount_usd.count().sort_values(ascending=False)
inv_amt_group=D1.groupby('sector').raised_amount_usd.sum().sort_values(ascending=False)

#top 3 sectors which respect to investment count
print(inv_count_group.head(3))

#highest funded company in topmost sector according to investment count
print(D1[D1['sector']==inv_count_group.index[0]].groupby('name').raised_amount_usd.sum().sort_values(ascending=False).head(1))

#highest funded company in sector with 2nd highest investment count
print(D1[D1['sector']==inv_count_group.index[1]].groupby('name').raised_amount_usd.sum().sort_values(ascending=False).head(1))

#print(inv_amt_group)

12150
108531347515.0
sector
Others                                     2950
Social, Finance, Analytics, Advertising    2714
Cleantech / Semiconductors                 2300
Name: raised_amount_usd, dtype: int64
name
Virtustream    64300000.0
Name: raised_amount_usd, dtype: float64
name
SST Inc. (Formerly ShotSpotter)    67933006.0
Name: raised_amount_usd, dtype: float64

In [253]:
#Analysis results for D2 which is GBR
#total investment count
print(D2.raised_amount_usd.count())
#total investment sum
print(D2.raised_amount_usd.sum())
inv_count_group2=D2.groupby('sector').raised_amount_usd.count().sort_values(ascending=False)
inv_amt_group2=D2.groupby('sector').raised_amount_usd.sum().sort_values(ascending=False)
#top 3 sectors which respect to investment count
print(inv_count_group2.head(3))
#highest funded company in topmost sector according to investment count
print(D2[D2['sector']==inv_count_group2.index[0]].groupby('name').raised_amount_usd.sum().sort_values(ascending=False).head(1))
#highest funded company in sector with 2nd highest investment count
print(D2[D2['sector']==inv_count_group2.index[1]].groupby('name').raised_amount_usd.sum().sort_values(ascending=False).head(1))

628
5436843539.0
sector
Others                                     147
Social, Finance, Analytics, Advertising    133
Cleantech / Semiconductors                 128
Name: raised_amount_usd, dtype: int64
name
Electric Cloud    37000000.0
Name: raised_amount_usd, dtype: float64
name
Celltick Technologies    37500000.0
Name: raised_amount_usd, dtype: float64

In [254]:
#Analysis results for D3 which is IND
#total investment count
print(D3.raised_amount_usd.count())

#total investment sum
print(D3.raised_amount_usd.sum())
inv_count_group3=D3.groupby('sector').raised_amount_usd.count().sort_values(ascending=False)
inv_amt_group3=D3.groupby('sector').raised_amount_usd.sum().sort_values(ascending=False)

#top 3 sectors which respect to investment count
print(inv_count_group3.head(3)).

#highest funded company in topmost sector according to investment count
print(D3[D3['sector']==inv_count_group.index[0]].groupby('name').raised_amount_usd.sum().sort_values(ascending=False).head(1))

#highest funded company in sector with 2nd highest investment count
print(D3[D3['sector']==inv_count_group.index[1]].groupby('name').raised_amount_usd.sum().sort_values(ascending=False).head(1))

330
2976543602.0
sector
Others                                     110
Social, Finance, Analytics, Advertising     60
News, Search and Messaging                  52
Name: raised_amount_usd, dtype: int64
name
FirstCry.com    39000000.0
Name: raised_amount_usd, dtype: float64
name
Manthan Systems    50700000.0
Name: raised_amount_usd, dtype: float64